/* OpenCart Navigation Fixes */
#menu, #menu * {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

#menu > ul .top {
  line-height: 14px;
}

#menu > ul li li a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 14px;
}

#menu > ul > li > ul {
  display: none !important;
  overflow: hidden !important;
  visibility: hidden !important;
}

#menu > ul > li.sfHover > ul {
  display: block !important;
  overflow: visible !important;
  visibility: visible !important;
}

/* ADMIN PANEL STYLES - BEGIN */
.breadcrumb {
  margin-top: 10px;
  padding: 12px 15px;
}

.table>tbody>tr>td {
  vertical-align: middle;
}

.table tr:first-child td {
  border-top: none;
}

.pagination {
  display: block;
  padding-left: 0;
  margin: 0;
  border-radius: 0px;
}

#main_settings_sub_tab .input-group {
  max-width: 137px;
}

#status {
  padding:4px;
  vertical-align:middle; 
  display:none;
}

#response_error{
  display:none;
}

#error_message {
  display:block;
}
#confirm-form{
  display:none;
}

#reset_email_error{
  display:none;
}

#wrong_email{
  display:block;
}

#telephone, #smsir_customer, #affiliate, #product, #storeOwnerTelephone{
  height:100px;
}

#api_input{
  padding-top:10px;
}

#confirm-form-submit{
  display:inline-block;
  float:right;
}

#confirm_modal .modal-header img{
  max-height:19px;
}

#reset_account .modal-header img{
  max-height:19px;
}

#modal-message-errorsAll{
  max-height: 150px;
  overflow: scroll;
  overflow-x: hidden; 
  overflow-y: hidden; 
  overflow: auto;
}

#confirm_page_heading span{
  vertical-align:middle;
  font-weight:bold;
}

#showHideOption{
  margin-bottom:20px;
}

#showHideOption .clearPadding{
 margin-bottom:10px;
}




#confirm_modal .modal-body h4{
 text-align:center; 
 margin:30px 0; 
 font-size:18px;
}

h3 span {
  vertical-align:middle;
  font-weight:bold;
}

.modulePositioning {
  margin-top: 10px;
  margin-bottom: 10px;
}

.modulePositioning label {
  min-width: 90px;
}

.modulePositioning .form-control {
  width: 50%;
  display: inline-block;
}

.modulePositioning input[type="number"] {
  width: 20%;
}

.messageSubject {
  margin-bottom: 20px;
}

.list tbody td a {
  text-decoration: none;
}

.tab-navigation {
  position: relative;
}

.tab-navigation .nav {
  margin-bottom: 20px;
}

.tab-buttons {
  position: absolute;
  left: 0;
  top: 0;
}

.center {
  text-align: center;
}

.registeredDomains {
  padding: 0;
  margin: 0;
  list-style: none;
}

.licenseAlerts {
  margin-top: 10px;
}

/* iModules */

.iModuleContent .box .notActivatedContent {
  padding: 10px;
  border-left: 1px solid #CCC;
  border-right: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
  min-height: 300px;
  overflow: auto;
  text-align: center;
  padding-top: 80px;
}

.iModuleContent .iModuleActivateButton {
  background: #069;
  padding: 16px 28px;
  color: white;
  border: 4px solid #fff;
  outline: 4px solid #ccc;
  text-decoration: none;
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 34px;
}

.iModuleContent .iModuleActivateButton:hover {
  background: #06d;
}

/* ADMIN PANEL STYLES - END */

/* BOOTSTRAP OVERRIDE - BEGIN */
.col-xs-2 {
  padding-left: 0px;
}
/* BOOTSTRAP OVERRIDE - END */

.colorsLi .colorPreview {
  width: 18px;
  height: 18px;
  background: #ccc;
  border: 1px solid #aaa;
}

.colorsLi tr th {
  color: #333;
  font-size: 13px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  text-align: left;
  padding-left: 10px;
}

.colorsLi tr td {
  text-align: left;
}

#searchedFound {
  height: 400px;
  padding: 0;
}

div.content div.analytics {
  width: 100%;
  clear: both;
  margin-bottom: 20px;
}

.iSimpleTable {
  margin: 0 20px 20px 20px;
}

.iSimpleTable td {
  padding: 5px;
  width: 100%;
  text-align: center;
}

.iSimpleTable td:first-child {
  text-align: left;
}

.iSimpleTable td:last-child {
  text-align: right;
}

.iSimpleTable tr:first-child td {
  border-bottom: 1px dotted #CCC;
}
/*Support tab*/



.panel-body .notLicensedTable, .panel-body .licensedTable {
  table-layout: fixed;
}

.panel-body .notLicensedTable .form-group, .panel-body .licensedTable .form-group {
  margin-bottom: 15px;
}

.panel-body .notLicensedTable ul, .panel-body .licensedTable ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.panel-body .notLicensedTable tr > td {
  padding: 10px 0;
}

.panel-body .box-content {
  padding: 10px;
  border: 1px solid #DBDBDB;
  min-height: 300px;
  overflow: auto;
}

.notLicensedTable .small-link {
  font-size: 12px;
}

.panel-body .thumbnail {
  margin: 15px 0;
}

.widgetPositionOpenCart {
  float: left;
  min-width: 120px;
}

.widgetPositionOpenCart label {
  font-weight: bold;
}

.widgetPositionOpenCart input[type="radio"] {
  margin-top: 0;
}

.widgetPositionOpenCart img {
  border: 1px solid #ddd;
}

div.checkbox {
  margin-right: 20px;
}

.input-group[class*=col-] {
  padding-left: 15px;
  padding-right: 15px;
}

.cke * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: content-box;
}

.notificationMessageTabs {
  margin: 20px 0;
}

input[type='text'], input[type='password'] {
  padding: 6px 12px;
}

.form-control.customCss {
  height: 80px;
  min-height: 80px;
}

.panel-heading {
  position: relative;
  padding: 15px;
}

.storeSwitcherWidget {
  display: inline-block;
  vertical-align: middle;
  margin-top: -2px;
}

.storeSwitcherWidget .form-group {
  margin-bottom: 0;
}

.storeSwitcherWidget .form-group.open .dropdown-menu {
  right: 0;
  left: auto;
}

@media (max-width: 1367px) {
  #storeOwnerInputs .code {
    width:25%;
  }
  #storeOwnerInputs .number {
    width:75%;
  }
}

@media (max-width: 1280px) {
  .prefix .select2-container .select2-selection--single .select2-selection__rendered {
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}


.scheduledPriceForm .input-group .button b {
  min-width: 13px;
}

.input-group #datetimepicker {
  min-width: 145px; 
} 
.input-group .form-control {
  z-index: 0;
}

#colorbox {
  box-sizing: content-box !important;
}


.bs-example-bg-classes p {
  padding: 15px;
  font-size: 17px;
  border-radius: 3px;
}

.optionsSmsIr {
  float: left;
  z-index: 1;
  position: absolute;
  margin-top: 11px !important;
  margin-left: 11px !important;
}

.pillLink {
  margin-left: 15px;  
}

.login_form {
  width: 400px;
  height: auto;
  display: block;
  margin: 0 auto;
  background-color: rgb(255, 255, 2550);
  border-radius: 4px;
  padding: 25px 30px;
  border: solid 1px rgb(200, 207, 212);
  border-bottom: solid 3px rgb(200, 207, 212);
  margin-bottom:20px;
}

.help {
  margin-bottom: 20px;
}

.login_form h2 {
  font-size: 11px;
  margin-bottom: 10px;
}

.login_form input {
  padding: 22px;
  margin-bottom: 16px;
  font-size: 16px;
}

.form-default .e:last-child {
  border-bottom: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}

input[type="radio"], .radio input[type="radio"], .radio-inline input[type="radio"], input[type="checkbox"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
  margin-right:5px;
}

#login-form .select2-container {
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  position: relative;
  vertical-align: middle;
  margin-bottom: 16px;
  text-align: left;
}

#login-form .select2-container--default .select2-selection--single {
  line-height: 1.42857143;
  color: rgb(85, 85, 85);
  background-color: rgb(255, 255, 255);
  background-image: none;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

#login-form .select2-container .select2-selection--single {
  box-sizing: content-box;
  padding: 6px 12px;
  cursor: pointer;
  display: block;
  height: 28px;
  user-select: none;
  -webkit-user-select: none;
}

#login-form .select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 26px;
  position: absolute;
  top: 8px;
  right: 1px;
  width: 20px;
}

img.img-flag {
  margin-top: -4px;
  padding-right:3px;
}

#login-form .spec-phones .select2-container{
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  position: relative;
  vertical-align: middle;
  margin-bottom: 16px;
  text-align: left;
  width: 50%;
  text-overflow: ellipsis; 
}

#login-form .login_form button {
  width: 100%;
}

#login-form .login_form .e-submit {
  text-align: center;
  margin: 0;
  width: 100% !important;
  border: none;
  padding-top: 10px;
}

#login-form .login_form h3 {
  color: rgb(67, 74, 84);
  margin-top:0;
  font-size:24px;
}

#login-form .login_form p {
  font-size: 16px;
  margin-bottom:30px;
  margin-top:10px;
}

 #login-form .login_form a {
  color: #00ABCB;
  display:inline-block; 
  margin:10px 0 0 0;
}

#login-form {
  display: block;
  margin: 0 auto;
  width: 650px;
  text-align:center;
}

#login-form h3 {
  font-size: 34px;
  color: #00ABCB;
  margin-bottom: 15px;
  margin-top:30px;
}

span[data-toggle="tooltip"]:after {
  font-family: FontAwesome;
  color: #1E91CF;
  content: "\f059";
  margin-left: 4px;
}

#status {
  display: inline-block !important;
}
.panel-heading h3 {
  vertical-align:middle;
}

/*Prefix selection styles*/

.prefix{
  margin-top:10px;
}

.prefix .select2-container {
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  position: relative;
  vertical-align: middle;
  margin-bottom: 16px;
  text-align: left;
  width:100% !important;
  overflow: hidden;
}

.prefix .select2-container--default .select2-selection--single {
  line-height: 1.42857143;
  color: rgb(85, 85, 85);
  background-color: rgb(255, 255, 255);
  background-image: none;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.prefix .select2-container .select2-selection--single {
  box-sizing: content-box;
  padding: 6px 12px;
  cursor: pointer;
  display: block;
  height: 28px;
  user-select: none;
  -webkit-user-select: none;
}

.prefix .select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 26px;
  position: absolute;
  top: 8px;
  right: 1px;
  width: 20px;
}

img.img-flag {
  margin-top: -4px;
  padding-right:3px;
}

.prefix .spec-phones .select2-container{
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  position: relative;
  vertical-align: middle;
  margin-bottom: 16px;
  text-align: left;
  width: 50%;
}

.clearPadding {
  padding:0 !important;
}

/*Bulk messages specific phone number*/
.specific_number_prefix{
  margin-top:10px;
}

.specific_number_prefix .select2-container {
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  position: relative;
  vertical-align: middle;
  margin-bottom: 16px;
  text-align: left;
  width:100% !important;
  overflow: hidden;
}

.specific_number_prefix .select2-container--default .select2-selection--single {
  line-height: 1.42857143;
  color: rgb(85, 85, 85);
  background-color: rgb(255, 255, 255);
  background-image: none;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.specific_number_prefix .select2-container .select2-selection--single {
  box-sizing: content-box;
  padding: 6px 12px;
  cursor: pointer;
  display: block;
  height: 28px;
  user-select: none;
  -webkit-user-select: none;
}

.specific_number_prefix .select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 26px;
  position: absolute;
  top: 8px;
  right: 1px;
  width: 20px;
}

img.img-flag {
  margin-top: -4px;
  padding-right:3px;
}

.specific_number_prefix .spec-phones .select2-container{
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  position: relative;
  vertical-align: middle;
  margin-bottom: 16px;
  text-align: left;
  width: 50%;
}

.clearPadding {
  padding:0 !important;
}

#overlay {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: rgba(255, 255, 255, 1);
    opacity: 0;
    z-index: 1000;
    -webkit-transition: opacity 500ms ease-out 1s;
    -moz-transition: opacity 500ms ease-out 1s;
    -o-transition: opacityr 500ms ease-out 1s;
    transition: opacity 500ms ease-out 1s;
  
}
#overlay.active{
    opacity: 0.8;

}
#loader {
    position: absolute;
    top: 50%;
    margin-top: -61px;
    left: 50%;
    margin-left: -43px;
    z-index: 1001;
    font-size: 86px;
  }

.scrollbox{
  overflow:auto;
  min-height: 100px;
}

#form .form-group {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 0;
}